.body {
	background-image: url(images/house3.jpg);
	background-size: cover; /* Растягивает до заполнения */
	background-repeat: no-repeat; /* Запрещает повторение */
	background-position: center; /* Центрирует картинку */
	background-attachment: fixed; /* Фиксирует фон при прокрутке */
	height: 100vh; /* Высота равна 100% области просмотра */
	margin: 0 auto;
	color: #cfc4b4;

	font-size: 18px;
	font-family:
		"Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
	margin: 0 auto;
	position: sticky;
	top: 20px;
	height: 130px;
	background-color: #0e1a17ce;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 80px;
	border-radius: 35px;
}

.logo_block {
	display: flex;
	align-items: center;
	gap: 15px;
}

.logo {
	width: 70px;
	height: 70px;
}

.logo_text {
	margin: 0 auto;
}

/* работает на весь текст в nav тд */
.headli {
	display: flex; /*Делает элементы строки в строку*/
	list-style: none; /*Убирает маркеры*/
	padding: 0; /* Убирает внутренние отступы */
	margin: 0 auto;
	gap: 150px; /* Добавляет расстояние между элементами (по желанию) */
	font-size: 18px;

	/* изменить шрифт */
}

/* работает с ссылками в nav */
.headli a {
	color: #cfc4b4;
	text-decoration: none; /* убирает синие подчеркивания */
}

.button {
	width: 200px;
	height: 45px;
	cursor: pointer;
	background-color: #d2ba97;
	color: #16202c;
	border-radius: 11px;
	border: 0;
	margin-left: 0;
	margin-right: 100px;
}

/* main_div */

.button_main {
	width: 350px;
	height: 55px;
	cursor: pointer;
	border: 2px solid #d2bb97;
	background-color: #030d2e70;
	color: #d2bb97;
	border-radius: 11px;
	margin-left: 1036px;
	margin-top: 200px;
	font-size: 20px;
}
/* изменить шрифт */

.head_block {
	width: 700px;
	height: 300px;
	font-size: 55px;
	text-align: center;
	margin-left: 850px;
}

.greenho {
	padding: 0;
	margin: 0;
	gap: 20px;
}

.quote {
	background-color: #4d452f70;
	border-radius: 10px;
	width: 300px;
	text-align: center;
	margin-left: 500px;
	margin-top: 50px;
}

.carts{
	display: flex;
	justify-content: ;
	background-color:crimson;
	width: 2000px;
	height: 500px;
}

.image_block{
	width: 300px;
	height: 300px;
}