.header{
	position:sticky;
	background-color:green;
	background-position: center;
	height:130px
}

#head{
	margin-left:37%;
	margin-top: -15px;
  display: flex; /*Делает элементы строки в строку*/
  list-style-type: none; /*Убирает маркеры*/
	padding: 0; /* Убирает внутренние отступы */
  gap: 250px; /* Добавляет расстояние между элементами (по желанию) */
	font-size: 18px;

}

#head li{
	color:#c4b9b7;
	text-decoration:none /* убирает синие подчеркивания */
}

.logo{
	width:70px;
	height:70px;
}

.body{
	background-image: url(images/tree2.jpg);
	background-size:cover;
	color:#c4b9b7;

	font-size: 18px
	}

	.menu{
		color:#c4b9b7;
		text-decoration:none /* убирает синие подчеркивания */
	}