html {
  scroll-behavior: smooth;
}

body {
	background-color: #edf2fe;
	color: #0b1f33;

	font-size: 16px;
	font-weight:normal; 
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

	padding: 20px;
	margin: 40px 0;
	border-radius: 15px;
}

.blog {
	text-align: center;
	margin:-15px 0px 0px 100px
}

.menu {
	text-align:right
}

#head li{
	margin:20px;
	display: inline;
}

a {
    color: #9e4545;
    text-decoration: none;
}


/* надо решить этот вопрос,сделать так чтобы нужный параграф подсвечивался когда в панели навигации нажимаешь на него
section { 
	padding: 20px;
	margin: 40px 0;
	border-radius: 15px;
	transition: 0.4s;
}

section.target{
	background-color:#d2e1eb;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	transform:scale(1.02);
}  */


#html {
	text-align:center;
	width: 79rem;
}

article{
	width: 40rem
}

/* переместить дату в центр, либо под фото */
.time{
	color:#9e4545;
}

/* тут надо решить вопрос с текстом под фото надо как-то не мутарно перенести его вместе с фото на лево */
#chill {
	width: 300px;
	border-radius: 20px;
	position: relative; top: -351px; left: 725px;
}

figcaption{
	text-align:center;
	color:#9e4545
}

/* теперь в месте где была фотка осталась дыра которую нужно заделать, либо закинуть туда информацию! */

aside {
	position: relative; top: -300px; left: 825px;
}

#aside li {
	display:flex
}

#css {
	position: relative; top: -350px;
	text-align: center
}

#js{
	position: relative; top: -300px;
	text-align:center
}

form{
	position: relative; top: -250px;
}