* {
	outline: 1px solid rgba(255, 0, 0, 0.507);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.body {
	background-image: url(images/tree2.jpg);
	background-size: cover; /* Растягивает до заполнения */
	background-repeat: no-repeat; /* Запрещает повторение */
	background-position: center; /* Центрирует картинку */
	/* background-attachment: fixed; */ /* Фиксирует фон при прокрутке */
	height: 100vh; /* Высота равна 100% области просмотра */
	margin: 0 auto;
	color: #cfc4b4;
	line-height: 1.8;

	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
}

.header {
	margin: 0px 100px;
	position: sticky;
	top: 20px;
	height: 120px;
	background-color: #4e2023b9;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 80px;
	border-radius: 35px;
}

.logo_block {
	display: flex;
	align-items: center;
	gap: 15px;
}

.logo {
	width: 70px;
	height: 70px;
}

.logo_text {
	margin: 0 auto;
}

/* работает на весь текст в nav тд */
.headli {
	display: flex; /*Делает элементы строки в строку*/
	justify-content: center;
	list-style: none; /*Убирает маркеры*/
	padding: 0; /* Убирает внутренние отступы */
	margin: 0 auto;
	gap: 150px; /* Добавляет расстояние между элементами (по желанию) */
	font-size: 18px;
}

/* работает с ссылками в nav */
.headli a {
	color: #cfc4b4;
	text-decoration: none; /* убирает синие подчеркивания */
	position: relative; /* Чтобы линия привязалась к ссылке */
	padding-bottom: 2px; /* Немного места для линии */
}

.headli a::after {
	content: "";
	position: absolute;
	width: 0; /* В начале линия не видна */
	height: 2px; /* Толщина линии */
	bottom: 0;
	left: 0; /* Начинаем слева */
	background-color: #646464; /* Цвет линии (сделай такой же, как текст) */
	transition: width 0.3s ease-in-out; /* Магия плавности */
}

/* hover-headli */
.headli a:hover::after {
	width: 100%; /* Линия растягивается до конца */
}

.button {
	width: 230px;
	height: 55px;
	cursor: pointer;
	background-color: #d2ba97;
	color: #292827;
	border-radius: 11px;
	border: 0;
	margin-left: 0;
	margin-right: 100px;
	font-weight: bold;
	font-size: medium;

	transition-property: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

/*hover - смена цвета кнопки в header */

.button:hover {
	background-color: #d39e95;
	color: #312e2a;
}

/* main_div */

.button_main {
	width: 350px;
	height: 55px;
	cursor: pointer;
	border: 2px solid #d2bb97;
	background-color: #030d2e70;
	color: #d2bb97;
	border-radius: 11px;
	margin-top: 25rem;
	font-size: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	transition-property: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.button_main:hover {
	background-color: #264ec5b4;
	color: #d2ba97;
}
/* изменить шрифт */

.head_block {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	font-size: 55px;
	margin-top: 200px;
}

.main_hotel {
	display: flex;
	font-weight: bold;
	margin-top: 10rem;
}

.greenho {
	display: flex;
	justify-content: left;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0;
	margin: 0;
	gap: 20px;
}

.quote {
	background-color: #4d452f70;
	border-radius: 10px;
	width: 300px;
	text-align: center;
	margin-left: 500px;
	margin-top: 50px;
}

.img_container {
	margin-top: 300px;
	display: grid;
	justify-content: center;
	grid-template-areas: "a a a" "b c c" "b c c";
}

.image-cards1 {
	border-radius: 5%;
	width: 500px;
	height: 500px;
	border: 5px solid #ffffff;
}

.image-cards2 {
	border-radius: 5%;
	border: 5px solid #ffffff;
	width: 500px;
	height: 500px;
}

.image-cards3 {
	border-radius: 5%;
	border: 5px solid #ffffff;
	width: 500px;
	height: 500px;
}

/* .cont-block {
	display: grid;
	justify-content: center;
	grid-template-areas: "a a a" "b c c" "b c c";

}

.cont1 {
	background-color: #5f5e5e;
	width: 500px;
	height:500px;
	border-radius:5%;


}

.cont2 {
	background-color: #5f5e5e;
	width: 500px;
	border-radius:5%;

}

.cont3 {
	background-color: #5f5e5e;
	width: 500px;
	border-radius:5%;

} */

/*буду изучать грид сегодня*/
