html {
  scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	background:#101A1B
}

.greenho{
	text-align:center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 100px
}

body {
	background-image: url("images/tree2.jpg");
	background-size:cover;
	background-position: center;
	/* background-color: #edf2fe; */
	color: #c4b9b7;

	font-size: 16px;
	font-weight:normal; 
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

	padding: 20px;
	margin: 40px 0;
	border-radius: 15px;
}

.web{
	transform: translate(220px, 50px);
}

.button{
	width: 150px;
	height: 35px;
	transform: translate(2200px, -38px);
	background-color:rgba(0, 0, 0, 0);
	color:#c4b9b7;
	border-radius: 10px;
}

.book{
	position:fixed;
	top: 0;
	width: 150px;
	height: 35px;
	background-color:rgba(0, 0, 0, 0);
	color:#c4b9b7;
	border-radius: 10px
}

.blog {
	text-align: center;
	margin:-15px 0px 0px 100px
}

.menu {
	transform: translate(-350px, 15px);
	text-align:right;
}

#head li{
	
	margin:20px;
	display: inline;
	font-size:25px;
	font-weight: 600
}

a {
    color: #c4b9b7;
    text-decoration: none;
}



/* колонки */
body {
  margin: 0;
}

.grid-overlay {
  position: fixed;
  inset: 0;
	padding: 0 80px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;

  justify-content: center; /* центрируем */
  pointer-events: none;
}

.grid-overlay div {
  background: rgba(255, 255, 255, 0.13);
}